@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->

<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
    
    <div class="container-fluid bg-primary py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row justify-content-center py-5">
                <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Enjoy Your Event With Us</h1>
                    <p class="fs-4 text-white mb-4 animated slideInDown">Where Every Event is an Adventure</p>
                    <div class="position-relative w-75 mx-auto animated slideInDown">

                        <input class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="Search for event">
                        <button type="button" class="btn btn-primary rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2" style="margin-top: 7px;">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="img/Events Cave W.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                <h1 class="mb-4">Welcome to <span class="text-primary">Events Cave</span></h1>
                <p class="mb-4">your ultimate destination for discovering and experiencing a wide range of events tailored to your interests. Whether you are a tech enthusiast, art lover, music fan, foodie, or fitness buff, Events Cave has something for everyone.</p>
                <p class="mb-4">our mission is to connect people with the events that inspire, educate, and entertain. We believe in the power of shared experiences to bring communities together, foster personal growth, and create lasting memories.</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Diverse Events</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Expert Speakers</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Exclusive Venues</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Engaged Community</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Seamless Experience</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Quality and Value</p>
                    </div>
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- why choose us Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">why choose us</h6>
            <h1 class="mb-5">What We Offer</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-calendar-minus text-primary mb-4"></i>
                        <h5>Diverse Events</h5>
                        <p>From conferences and workshops to festivals and expos, we curate a diverse lineup of events across various fields including technology, arts, music, health, business, and more.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-microphone text-primary mb-4"></i>
                        <h5>Expert Speakers</h5>
                        <p>Our events feature industry leaders and experts who share their knowledge, insights, and passion with our attendees.</p><br />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-location-arrow text-primary mb-4"></i>
                        <h5>Exclusive Venues</h5>
                        <p>We partner with top-tier venues around the globe to provide you with the best event experiences in iconic and inspiring locations.</p><br />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-users text-primary mb-4"></i>
                        <h5>Engaged Community</h5>
                        <p>Join a vibrant community of like-minded individuals who share your interests and enthusiasm. Network, collaborate, and build connections that last beyond the event.</p><br />
                    </div>
                </div>
            </div><div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-check text-primary mb-4"></i>
                        <h5>Seamless Experience</h5>
                        <p>Our platform makes it easy to find, book, and attend events. With user-friendly navigation and secure booking, your event experience starts smoothly from the moment you visit our site.</p><br />
                    </div>
                </div>
            </div><div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-star text-primary mb-4"></i>
                        <h5>Quality and Value</h5>
                        <p>We are committed to delivering high-quality events that offer exceptional value. From keynote sessions to hands-on workshops, we ensure that each event provides meaningful and enriching experiences.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- why choose us End -->
<!-- Destination Start -->
<div class="container-xxl py-5 destination">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Kinds</h6>
            <h1 class="mb-5">Kinds of event</h1>
        </div>
        <div class="row g-3">
            <div class="col-lg-7 col-md-6">
                <div class="row g-3">
                    <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="img/Tech Conferences.jpg" alt="">
                            <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Tech Conferences</div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="img/Music Festivals.jpg" alt="">
                            <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Music Festivals</div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="img/Art Exhibitions.jpg" alt="">
                            <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2"> Art Exhibitions</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                <a class="position-relative d-block h-100 overflow-hidden" href="">
                    <img class="img-fluid position-absolute w-100 h-100" src="img/Food and Wine Festivals.jpg" alt="" style="object-fit: cover;">
                    <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Food and Wine Festivals</div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Destination Start -->



<!-- Package Start -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Events</h6>
            <h1 class="mb-5">Awesome Events</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="img/@Model.Table.Rows[0][7]" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>@Model.Table.Rows[0][2]</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>@Model.Table.Rows[0][4] days</small>
                        
                    </div>
                    <div class="text-center p-4">
                        <h3 class="mb-3">@Model.Table.Rows[0][1]</h3>
                        <h5 class="mb-0">$@Model.Table.Rows[0][3]</h5>
                        <small class="flex-fill text-center py-2"><i class="fa fa-hourglass-start text-primary me-2"></i>@Model.Table.Rows[0][5]</small>
                        
                        <p>@Model.Table.Rows[0][6]</p>
                        <div class="d-flex justify-content-center mb-2">
                            <button asp-page-handler="read" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;" asp-for="@Model.EventID" value="@Model.Table.Rows[0][0]">Read More</button>
                            <button asp-page-handler="book" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;" asp-for="@Model.EventID" value="@Model.Table.Rows[0][0]">Book Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="img/@Model.Table.Rows[1][7]" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>@Model.Table.Rows[1][2]</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>@Model.Table.Rows[1][4] days</small>

                    </div>
                    <div class="text-center p-4">
                        <h3 class="mb-3">@Model.Table.Rows[1][1]</h3>
                        <h5 class="mb-0">$@Model.Table.Rows[1][3]</h5>
                        <small class="flex-fill text-center py-2"><i class="fa fa-hourglass-start text-primary me-2"></i>@Model.Table.Rows[1][5]</small>
                        
                        <p>@Model.Table.Rows[1][6]</p>
                        <div class="d-flex justify-content-center mb-2">
                            <button asp-page-handler="read" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;" asp-for="@Model.EventID" value="@Model.Table.Rows[1][0]">Read More</button>
                            <button asp-page-handler="book" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;" asp-for="@Model.EventID" value="@Model.Table.Rows[1][0]">Book Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="package-item">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="img/@Model.Table.Rows[2][7]" alt="">
                    </div>
                    <div class="d-flex border-bottom">
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>@Model.Table.Rows[2][2]</small>
                        <small class="flex-fill text-center border-end py-2"><i class="fa fa-calendar-alt text-primary me-2"></i>@Model.Table.Rows[2][4] days</small>

                    </div>
                    <div class="text-center p-4">
                        <h3 class="mb-3">@Model.Table.Rows[2][1]</h3>
                        <h5 class="mb-0">$@Model.Table.Rows[2][3]</h5>
                        <small class="flex-fill text-center py-2"><i class="fa fa-hourglass-start text-primary me-2"></i>@Model.Table.Rows[2][5]</small>
                        
                        <p>@Model.Table.Rows[2][6]</p>
                        <div class="d-flex justify-content-center mb-2">
                            <button asp-page-handler="read" class="btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;" asp-for="@Model.EventID" value="@Model.Table.Rows[2][0]">Read More</button>
                            <button asp-page-handler="book" class="btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;" asp-for="@Model.EventID" value="@Model.Table.Rows[2][0]">Book Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-12 col-md-6 wow fadeInUp text-center" data-wow-delay="0.7s">
            <a class="btn btn-primary py-3 px-5 mt-3" href="AllEvents">Show More</a>
        </div>
    </div>

</div>
<!-- Package End -->


@* <!-- Booking Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="booking p-5">
            <div class="row g-5 align-items-center">
                <div class="col-md-6 text-white">
                    <h6 class="text-white text-uppercase">Booking</h6>
                    <h1 class="text-white mb-4">Online Booking</h1>
                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                    <a class="btn btn-outline-light py-3 px-5 mt-2" href="">Read More</a>
                </div>
                <div class="col-md-6">
                    <h1 class="text-white mb-4">Book A Tour</h1>
                    <form>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control bg-transparent" id="name" placeholder="Your Name">
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control bg-transparent" id="email" placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating date" id="date3" data-target-input="nearest">
                                    <input type="text" class="form-control bg-transparent datetimepicker-input" id="datetime" placeholder="Date & Time" data-target="#date3" data-toggle="datetimepicker" />
                                    <label for="datetime">Date & Time</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select class="form-select bg-transparent" id="select1">
                                        <option value="1">Destination 1</option>
                                        <option value="2">Destination 2</option>
                                        <option value="3">Destination 3</option>
                                    </select>
                                    <label for="select1">Destination</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control bg-transparent" placeholder="Special Request" id="message" style="height: 100px"></textarea>
                                    <label for="message">Special Request</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-outline-light w-100 py-3" type="submit">Book Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Booking Start --> *@

<!-- Process Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center pb-4 wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Process</h6>
            <h1 class="mb-5">3 Easy Steps</h1>
        </div>
        <div class="row gy-5 gx-4 justify-content-center">
            <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative border border-primary pt-5 pb-4 px-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                        <i class="fa fa-user-plus fa-3x text-white"></i>
                    </div>
                    <h5 class="mt-4">Sign Up</h5>
                    <hr class="w-25 mx-auto bg-primary mb-1">
                    <hr class="w-50 mx-auto bg-primary mt-0">
                    <p class="mb-0">Create your account easily using our sign-up form. Fill in your details and become a member of our community in just a few clicks.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="position-relative border border-primary pt-5 pb-4 px-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                        <i class="fa fa-globe fa-3x text-white"></i>
                    </div>
                    <h5 class="mt-4">Browse Events</h5>
                    <hr class="w-25 mx-auto bg-primary mb-1">
                    <hr class="w-50 mx-auto bg-primary mt-0">
                    <p class="mb-0">Explore our wide range of events tailored to various interests and industries. Use filters to find events that match your preferences.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 text-center pt-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="position-relative border border-primary pt-5 pb-4 px-4">
                    <div class="d-inline-flex align-items-center justify-content-center bg-primary rounded-circle position-absolute top-0 start-50 translate-middle shadow" style="width: 100px; height: 100px;">
                        <i class="fa fa-check fa-3x text-white"></i>
                    </div>
                    <h5 class="mt-4">Book Your Spot</h5>
                    <hr class="w-25 mx-auto bg-primary mb-1">
                    <hr class="w-50 mx-auto bg-primary mt-0">
                    <p class="mb-0">Select an event and book your ticket securely. Receive instant confirmation and get ready for an amazing experience!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Process Start -->

<!-- Speaker Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Speakers</h6>
            <h1 class="mb-5">Meet The Speakers</h1>
        </div>
        <div class="row g-3">
            @for (int i = 0; i < 4; i++)
            {
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="img/@Model.Table1.Rows[i][3]" alt="">
                        </div>
                        <div class="position-relative d-flex justify-content-center" style="margin-top: -19px;">
                            <a class="btn btn-square mx-1" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square mx-1" href="https://x.com/"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square mx-1" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                        </div>
                        <div class="text-center p-4">
                            <h5 class="mb-0">@Model.Table1.Rows[i][1]</h5>
                            <small>@Model.Table1.Rows[i][2]</small><br>
                            <small>Events attend: @Model.Table1.Rows[i][4]</small>

                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="col-lg-12 col-md-6 wow fadeInUp text-center" data-wow-delay="0.3s">
            <a class="btn btn-primary py-3 px-5 mt-3" href="Speakers">Show More</a>
        </div>
    </div>
</div>
<!-- Speaker End -->

<!-- Feedback Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Some Feedbacks</h6>
            <h1 class="mb-5">Our Clients Say!!!</h1>
        </div>

        <div class="owl-carousel testimonial-carousel position-relative">
            @for (int i = 0; i < 4; i++)
            {
                <div class="testimonial-item bg-white text-center border p-4">
                    <img class="bg-white rounded-circle shadow p-1 mx-auto mb-3" src="img/@Model.Table2.Rows[i][2]" style="width: 80px; height: 80px;">
                    <h5 class="mb-0">@Model.Table2.Rows[i][1]</h5>
                    <p>Rate: @Model.Table2.Rows[i][4] <small class="fa fa-star"></small></p>
                    <p>Event Name: @Model.Table2.Rows[i][3]</p>
                    <p class="mb-0">@Model.Table2.Rows[i][5]</p>
                </div>
            }


        </div>
        <div class="col-lg-12 col-md-6 wow fadeInUp text-center" data-wow-delay="0.3s">
            <a class="btn btn-primary py-3 px-5 mt-3" href="Feedback">Show More</a>
        </div>
    </div>
</div>
<!-- Feedback End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

